# Visual Studio Code cache/options directory
.vscode/
.vs

# Visual Studio user files
*.csproj.user

# Build output
[Bb]in/
[Oo]bj/
[Oo]ut/

# packages
packages/

# dotnet install directory
.dotnet/

# Test files
*.trx

# ImageBuilder directory
.Microsoft.DotNet.ImageBuilder

# Visual Studio debug profile
**/launchSettings.json


# .terraform
.terraform/*
.terraform.lock.hcl

